* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F9F9F9;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1A1A1A;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
}

/* TEXT */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a, a:visited {
  color: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 2em;
  font-size: smaller;
  font-weight: 100;
  text-align: center;
}

/* INPUTS */
.form-pair {
  width: 100%;

  label, input {
    width: 100%;
    display: block;
  }

  input {
    padding: 4px 6px;
    border: solid 1px #F9F9F97F;
    border-radius: 4px;
    background-color: #1A1A1A;
    color: #F9F9F9;
    
    &:focus,:focus-visible,:active {
      outline: none;
      border-color: #1D9BF0 !important;
    }
  }
}

/* BUTTONS */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1A1A1A;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-dark {
  border: solid 1px #1D9BF0;
  color: #1D9BF0;
  &:hover {
    background-color: #1D9BF00C;
  }
}

.btn-blue {
  border: solid 1px #1D9BF0;
  background-color: #1D9BF0;
}

.btn-big {
  margin: 8px 0;
  width: 50%;
}

/* GENERAL */
.toast-container {
  width: 35vw !important;
  inset: unset !important;
  top: 16px !important;
  left: 30vw !important;
  position: absolute !important;
}

.borderless {
  border: none !important;
}

.thin-stroke {
  stroke-width: 1px;
}

.hidden {
  display: none;
}

.modal-bg {
  width: 100vw;
  min-height: 100vh;
  background-color: #0000009A;
  position: absolute;
  top: 0;
  left: 0;
}

.popup-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1A1A1A;
  padding: 3rem;
  border-radius: 1.5rem;
  max-width: 45vw;

  h2 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}

.modal-close {
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: 1em;
}

.modal-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1em;
}

.modal-form {
  display: grid;
  row-gap: 18px;
  column-gap: 12px;
  justify-items: center;
  width: 25vw;
  height: 40vh;

  button {
    grid-column: 1 / -1;
    width: 50%;
  }
}

.err-msg {
  color: #F03E3E;
  grid-column: 1 / -1;
  justify-self: left;

  * {
    color: inherit;
    display: inline;
  }

  p {
    margin-left: 8px;
  }
}

/* LOGIN/REGISTER */
.login-register {
  display: flex;
  flex-direction: column;

  > div {
    flex: 1;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-around;
  }
}

.login-register-half {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  .lr-big-logo {
    font-size: 24rem;
  }
}

.lr-button-sep {
  display: flex;
  width: 50%;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    flex: .43;

    > div {
      flex: 1;
      border: solid .5px #f9f9f936;
      border-left: solid 1px #f9f9f9;
      border-right: solid 1px #f9f9f9;
    }
  }
}

.register-form {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1.2fr 1fr;
}

.login-form {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2.2fr 1fr;
}