* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f9f9f9;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* GENERAL */
main {
  width: 100vw;
  height: 100vh;
}

.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.white-button {
  background-color: #f9f9f9;
  color: #1a1a1a;
  border: solid 1px #f9f9f9;
  width: 100%;
  outline: none;

  &:hover {
    border: solid 1px #f9f9f9 !important;
    opacity: 0.9;
    cursor: pointer;
  }
}

.thin-stroke {
  stroke-width: 1px;
}

.circular-button {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 2px;

  &:hover {
    border-radius: 50%;
    cursor: pointer;
  }

  & > * {
    border-radius: 50%;
  }
}

.toast-container {
  width: 35vw !important;
  inset: unset !important;
  top: 16px !important;
  left: 30vw !important;
  position: absolute !important;
}

.borderless {
  border: none !important;
}

.status-extras .GifPickerReact.gpr-main {
  --gpr-bg-color: #1a1a1a;
  --gpr-highlight-color: #1d9bf0;
  border-color: #f9f9f9;
  box-shadow: 4px 0 36px rgba(0, 0, 0, 20);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .gpr-header {
    border-color: #f9f9f9;
  }

  .gpr-body > div, .gpr-body {
    scrollbar-width: none;
  }
}

/* LOGIN AND REGISTRATION */
.login-register {
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  & footer {
    width: 100%;
    height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & a, a:visited {
      font-size: smaller;
      font-weight: 100;
      color: inherit;
      text-decoration: none;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

.login-register-half {
  height: 100%;
  /* grid-column: 1; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lr-big-logo {
  font-size: 24rem;
}

.login-register-half {
  height: 100%;
  /* grid-column: 2; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lr-button-sep {
  display: flex;
  width: 50%;
  justify-content: space-between;

  &>div {
    display: flex;
    align-items: center;
    flex: .43;

    &>div {
      flex: 1;
      border: solid .5px #f9f9f936;
      border-left: solid 1px #f9f9f9;
      border-right: solid 1px #f9f9f9;
    }
  }

  &>span {
    display: inline;
  }
}

.lr-button {
  border: solid 1px #1d9bf0;
  width: 50%;
  margin: 8px 0;

  &:nth-of-type(1) {
    background-color: #1d9bf0;
  }

  &:nth-of-type(2) {
    color: #1d9bf0;
  }

  &:hover {
    border: solid 1px #1d9bf0;

    &:nth-of-type(1) {
      background-color: #1d9cf0e5;
    }

    &:nth-of-type(2) {
      background-color: #1d9bf00c;
    }
  }
}

.modal-bg {
  width: 100vw;
  min-height: 100vh;
  background-color: #0000009a;
  position: absolute;
  top: 0;
  left: 0;
}

.lr-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  padding: 48px;
  border-radius: 24px;

  max-width: 494px;

  & h2 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}

.modal-close {
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: 1em;
}

.lr-modal-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1em;
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1.2fr 1fr;
  column-gap: 12px;
  row-gap: 18px;
  justify-items: center;

  & button {
    grid-column: 1 / 3;
    width: 50%;
  }
}

.err-msg {
  color: #F03E3E;
  grid-column: 1 / 3;
  justify-self: left;

  & * {
    color: inherit;
    display: inline;
  }

  p {
    margin-left: 8px;
  }
}

.hidden {
  display: none;
}

.register-form-pair {
  width: 100%;

  & label, input {
    width: 195px;
    display: block;
  }

  & input {
    padding: 4px 6px;
    border: solid 1px #f9f9f97f;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: #f9f9f9;
    
    &:focus,:focus-visible,:active {
      outline: none;
      border-color: #1d9bf0 !important;
    }
  }
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2.2fr 1fr;
  row-gap: 18px;
  justify-items: center;

  & button {
    grid-column: 1 / 2;
    width: 50%;
  }
}

.login-form-pair {
  width: 100%;

  & label, input {
    width: 402px;
    display: block;
  }

  & input {
    padding: 4px 6px;
    border: solid 1px #f9f9f97f;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: #f9f9f9;
    
    &:focus,:focus-visible,:active {
      outline: none;
      border-color: #1d9bf0 !important;
    }
  }
}

/* BASE PAGE */
.base-page {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 15vw 35vw 20vw;
  grid-template-rows: auto;
}

.base-right {
  height: 100%;
}

.nav-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
  margin-left: 3rem;
  container-name: navbar;
  container-type: inline-size;
  align-items: flex-end;

  & > div {
    width: 100%;
    & .sidebar-items {
      list-style: none;

      & .sidebar-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: min-content;
        margin-bottom: 1.5rem;
        padding: 4px 8px;
        padding-right: 12px;
        font-size: 20px;

        & a {
          display: inherit;
          text-decoration: inherit;
        }

        & p {
          margin: 0;
          margin-left: 6px;
        }

        &:hover {
          background-color: #f9f9f936;
          border-radius: 28px;
          cursor: pointer;
        }
      }
    }

    & .post-button {
      border-radius: 64px;
    }

    & .post-button-alt {
      display: none !important;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
    }
  }
  
  & .sidebar-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 4px 8px;
    width: 100%;

    & .profile-items {
      display: flex;
      align-items: center;
      min-width: 0;
      
      .pfp {
        margin-right: .6rem;
      }
  
      & > div {
        display: flex;
        flex-direction: column;
        min-width: 0;
        & p {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex-shrink: 1;
          min-width: 0;
          display: block;
        }
      }
    }


    &:hover {
      background-color: #f9f9f936;
      border-radius: 28px;
      cursor: pointer;
    }
  }
}

@container navbar (max-width: 140px) {
  .nav-sidebar {
    p {
      display: none;
    }
    
    & > div {
      justify-items: flex-end;
      
      .sidebar-item {
        border-radius: 50% !important;
        width: 40px !important;
        height: 40px !important;
        justify-content: center !important;
        padding: 0 !important;
        svg {
          min-width: 32px;
        }
      }

      .post-button {
        display: none;
      }
    
      .post-button-alt {
        display: flex !important;
        /* margin-right: 12px; */
      }
    }
  
    .sidebar-profile {
      width: 40px;
      height: 40px;
      padding: 0;

      & svg {
        display: none;
      }
    }
  }
}

.specific-content {
  height: 100vh;
  border-left: solid 1px #f9f9f97f;
  border-right: solid 1px #f9f9f97f;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto 1fr;
  min-width: 420px;
}

/* HOME */
.feed-select {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  border-bottom: solid 1px #f9f9f97f;
  position: sticky;

  .feed-indicator {
    display: none;
  }

  & .feed-select-all, & .feed-select-follow {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    &:hover {
      background-color: #f9f9f926;
      transition: 0.3s;
    }

    & > div {
      width: 100%;
      text-align: center;
      align-content: center;
      color: #f9f9f97f;
    }
  }

  & .feed-select-all {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  & .feed-select-follow {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .selected-feed {
    & > div {
      color: #f9f9f9;
      font-weight: bold;
    }

    & .feed-indicator {
      display: block;
      position: absolute;
      bottom: 0px;
      left: 50%;
      translate: -50%;
      width: 3.5rem;
      height: .2rem;
      background-color: #1d9bf0;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
}

/* PROFILE */
.profile {
  & .profile-header {
    margin: 0 1rem;
    & h3, & p {
      margin: 0;
    }

    & * {
      margin: 8px auto;
    }

    & *:nth-child(2) {
      color: #f9f9f97f;
    }
  }

  & .banner-photo {
    width: 100%;
  }

  & .profile-main {
    & .banner-beneath {
      margin-left: 1rem;
      & .profile-pfp {
        margin-top: -2.5vw;
        width: 5vw;
        height: 5vw;
      }
    }

    & .profile-info {
      margin-left: 1rem;
    }
  }
}

.feed-new-status {
  border-bottom: solid 1px #f9f9f97f;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  padding: 16px 12px;
  padding-bottom: 6px;
  row-gap: 16px;
  column-gap: 8px;

  .pfp {
    grid-row: 1 / 3;
    grid-column: 1;
  }

  .new-status-field {
    grid-row: 1;
    grid-column: 2 / 4;
    
    & textarea {
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      resize: none;
      overflow: hidden;
      font-size: 20px;
      display: block;
    }

    & img {
      margin: 12px auto;
      max-height: 20vh;
    }

    &:focus-within {
      border-bottom: solid 1px #f9f9f926;
    }
  }

  img {
    grid-row: 2;
    grid-column: 2 / 4;
  }

  .status-extras {
    display: flex;
    align-items: center;
    
    & > span {
      width: 32px;
      height: 32px;
      padding: 4px;
      margin-right: 24px;
      
      & > svg {
        fill: #1d9bf0;
      }

      &:hover {
        background-color: #1d9bf026;
        border-radius: 50%;
      }
    }
  }

  .post-status {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 32px;
  }
}

.feed-posts {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: none;
  & .feed-post {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 0.8rem;
    padding: 12px 8px;
    border-bottom: solid 1px #f9f9f97f;

    &:last-of-type {
      border-bottom: none;
    }
    
    & > img {
      grid-column: 1;
      grid-row: 1 / 4;
    }

    & .circular-button {
      width: 24px;
      height: 24px;
    }

    & .post-info-tb {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & .post-info-top {
      grid-column: 2;
      grid-row: 1;
      height: 28px;

      & .post-info-main {
        span {
          color: #f9f9f97f;
          margin-right: 6px;
        }

        a, a:visited {
          color: #f9f9f9;
          text-decoration: none;
        }
        
        a:hover {
          text-decoration: underline;
        }

        & .post-info-display {
          color: #f9f9f9;
          font-weight: 500;
          margin-right: 8px;
        }

        & .post-info-button {
          height: 21px;
          width: 21px;
          border-radius: 50%;
        }
      }
    }

    .post-info-aside {
      margin-right: 8px;
    }
    
    & .post-info-button {
      &:hover {
        background-color: #f9f9f926;
        cursor: pointer;

        & > svg {
          fill: #f9f9f9;
        }
        color: #f9f9f9;
      }

    }

    & .post-body {
      grid-column: 2;
      grid-row: 2;

      span > img {
        height: 22px;
      }
    }

    & .post-info-bottom {
      grid-column: 2;
      grid-row: 3;
      height: 28px;

      & .post-info-main {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        & > * {
          margin-right: 20%;
        }

        & .post-interact {
          display: inline;
          padding: 2px 6px;
          border-radius: 48px;

          &:nth-of-type(1):hover {
            background-color: #228b2226 !important;
            color: #228b22;
            & :first-of-type {
              fill: #228b22 !important;
            }
          }

          &:nth-of-type(2):hover {
            background-color: #d2691e26 !important;
            color: #d2691e;
            & :first-of-type {
              fill: none !important;
              stroke: #d2691e;
            }
          }

          &:nth-of-type(3):hover {
            background-color: #1d9bf026 !important;
            color: #1d9bf0;
            & :first-of-type {
              fill: #1d9bf0 !important;
            }
          }
        }
      }
    }
  }
}