* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f9f9f9;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.login-register {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &>div {
    flex: 1;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  & footer {
    width: 100%;
    height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & a,
    a:visited {
      font-size: smaller;
      font-weight: 100;
      color: inherit;
      text-decoration: none;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

.login-register-left-half {
  height: 100%;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lr-big-logo {
  font-size: 24rem;
}

.login-register-right-half {
  height: 100%;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lr-button-sep {
  display: flex;
  width: 50%;
  justify-content: space-between;

  &>div {
    display: flex;
    align-items: center;
    flex: .43;

    &>div {
      flex: 1;
      border: solid .5px #f9f9f936;
      border-left: solid 1px #f9f9f9;
      border-right: solid 1px #f9f9f9;
    }
  }

  &>span {
    display: inline;
  }
}

.lr-button {
  border: solid 1px #1d9bf0;
  width: 50%;
  margin: 8px 0;

  &:nth-of-type(1) {
    background-color: #1d9bf0;
  }

  &:nth-of-type(2) {
    color: #1d9bf0;
  }

  &:hover {
    border: solid 1px #1d9bf0;

    &:nth-of-type(1) {
      background-color: #1d9cf0e5;
    }

    &:nth-of-type(2) {
      background-color: #1d9bf00c;
    }
  }
}

.modal-bg {
  width: 100vw;
  min-height: 100vh;
  background-color: #0000009a;
  position: absolute;
}

.lr-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  padding: 48px;
  border-radius: 24px;

  max-width: 494px;

  & h2 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}

.modal-close {
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: 1em;
}

.lr-modal-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1em;
}

.lr-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1.2fr 1fr;
  column-gap: 12px;
  row-gap: 18px;
  justify-items: center;

  & button {
    grid-column: 1 / 3;
    width: 50%;
  }
}

.err-msg {
  color: #F03E3E;
  grid-column: 1 / 3;
  justify-self: left;

  & * {
    color: inherit;
    display: inline;
  }

  p {
    margin-left: 8px;
  }
}

.hidden {
  display: none;
}

.lr-form-pair {
  width: 100%;

  & label, input {
    display: block;
  }

  & input {
    padding: 4px 6px;
    border: solid 1px #f9f9f97f;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: #f9f9f9;
    
    &:focus,:focus-visible,:active {
      outline: none;
      border-color: #1d9bf0 !important;
    }
  }
}

.react-aria-DatePicker {
  padding: 4px 6px;
  border: solid 1px #f9f9f97f;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #f9f9f9;

  .react-aria-Group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .react-aria-Button {
    color: #f9f9f9;
    border-radius: 4px;
    width: 1.429rem;
    height: 1.429rem;
    padding: 0;
    font-size: 0.857rem;
    box-sizing: border-box;


    &[data-hovered], &[data-pressed] {
      border: solid 1px #1d9bf0;
    }
  }
}

.react-aria-Dialog {
  padding: 8px;
  background-color: #1a1a1a;
  border: solid 1px #f9f9f9;
  border-radius: 8px;
  width: 18vw;
  margin-left: -4vw;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 20);

  & .react-aria-Calendar {


    & header {
      display: flex;
      align-items: center;
      align-content: center;
      margin: 0 4px .5rem;

      & button {
        font-family: Arial;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        color: #f9f9f9;
        background: #1a1a1a;
        border: solid 1px #f9f9f9;
        appearance: none;
        vertical-align: middle;
        text-align: center;
        border-radius: 4px;
        outline: none;
        margin: 0;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
          border-color: #1d9bf0;
        }

        &:focus, &:active {
          outline: none;
          box-shadow: none;
          background-color: none;
        }
      }

      & h2 {
        text-align: center;
        flex: 1;
        margin: 0;
        font-size: 1.375rem;
        display: block;
        margin-block-start: .83rem;
        margin-block-end: .83rem;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: bold;
        unicode-bidi: isolate;
      }
    }

    & table {
      display: table;
      border-collapse: separate;
      text-indent: initial;
      border-spacing: 2px;
      border-color: #1d9bf0;
      text-size-adjust: none;
      width: 100%;
      text-align: center;

      & thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
      }

      & tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
      }

      & tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;

        & th {
          display: table-cell;
          vertical-align: inherit;
          font-weight: bold;
          text-align: -internal-center;
        }
        
        & td {
          display: table-cell;
          vertical-align: inherit;

          & div:hover {
            background-color: #1d9bf095;
            border-radius: 100%;
          }

          & div[data-outside-month] {
            display: none;
            &:hover {
              background-color: #1a1a1a;
            }
          }

          & div[data-disabled] {
            color: #f9f9f995;
            &:hover {
              background-color: #1a1a1a;
            }
          }
        }
      }


    }
  }
}